<div class="container table-responsive table-sm">
  <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Number</th>
                      <td>   </td>
                      <th class="text-center">Price</th>
                      <th class="text-center"></th>
                      <th> </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let product of products | async">
                    <td class="col-sm-8 col-md-6">
                      <div class="media">
                          <a class="thumbnail pull-left" href="#"> <img src="./assets/{{product.id}}.jpg" style="width: 72px; height: 72px;" class="product_image"/> </a>
                          <div class="media-body">
                              <h4 class="media-heading"><a href="#">{{product.number}}</a></h4>
                              <h5 class="media-heading"> by <a href="#">{{product.name}}</a></h5>
                              <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                          </div>
                      </div>
                    </td>
                      <td>   </td>
                      <td class="col-sm-1 col-md-1 text-center"><strong>{{product.price | currency:'INR':true}}</strong></td>
                      <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                      <td class="col-sm-1 col-md-1">
                      <button type="button" *ngIf="productInCart(product) | async" class="btn btn-danger" (click)="removeProductFromCart(product, 1)">
                          <span class="glyphicon glyphicon-remove"></span> Remove
                      </button></td>
                      <td class="col-sm-1 col-md-1">
                      <button type="button" class="btn btn-success" (click)="addProductToCart(product, 1)">
                          <span class="glyphicon glyphicon-ok"></span> add
                      </button></td>
                  </tr>
              </tbody>
          </table>
                  <app-shopping-cart></app-shopping-cart>
                </div>
            </div>
        </div>
