<!--The whole content below can be removed with the new code.-->
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>

<!-- Navbar --> 
<nav class="navbar navbar-default">
  <div class="container">

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">GET</a></li>
        <li><a href="#">MY</a></li>
        <li><a href="#">NUMBER</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->

<!-- Second Container -->
<div class="container-fluid text-muted">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <div class="panel-body">
     </div>
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Number</th>
          <th *ngFor="let data of samplejson;let i=index">{{data.number}}</th>
      </tr>
    </thead>
    <tbody>

    <tr>
      <td>Provider</td>
      <td *ngFor="let data of samplejson;let i=index">{{data.provider}}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td *ngFor="let data of samplejson;let i=index">{{data.Region| uppercase}}</td>
    </tr>
    <tr>
      <td>price</td>
      <td *ngFor="let data of samplejson;let i=index">{{data.price| uppercase}}</td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor="let data of samplejson;let i=index"><button type="button" class="btn btn-success">Purchase</button></td>
    </tr>
  </tbody>
  </table>
      </div>
<!-- Third Container (Grid) -->

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> Scideas Sollutions Private Limited </p>
</footer>

</body>
